!!!5
%html(lang = "en", style = "font-size: 16px;")
  %head
    %meta(content = "width=device-width, initial-scale=1.0", name = "viewport")/
    %meta(charset = "utf-8")/
    %title Page 4
    %link(href = "Page-4s.css", media = "screen", rel = "stylesheet")/
  %body.u-body.u-xl-mode
    %section.u-align-center.u-clearfix.u-container-align-center.u-white.u-section-1
      .u-clearfix.u-sheet.u-sheet-1
        .u-clearfix.u-gutter-0.u-layout-wrap.u-layout-wrap-1
          .u-gutter-0.u-layout
            .u-layout-col
              .u-size-30
                .u-layout-row
                  .u-align-center.u-container-align-center.u-container-style.u-image.u-layout-cell.u-size-30.u-image-1
                    .u-container-layout.u-valign-middle.u-container-layout-1
                  .u-align-center.u-container-style.u-layout-cell.u-palette-4-base.u-size-30.u-layout-cell-2
                    .u-container-layout.u-container-layout-2
                      %h2.u-text.u-text-1 Hello!
                      %p.u-large-text.u-text.u-text-variant.u-text-2 I'm a creative ​multitalented graphic designer
                      %p.u-text.u-text-3 I am creative graphic designer. I am an expert in the Adobe Creative Suit and have worked with a varied myriad of clients. Connecting your ideas to customer perception &amp; all the digital dots in between...
                      %p.u-text.u-text-4
                        Image from
                        %a.u-active-none.u-border-1.u-border-no-left.u-border-no-right.u-border-no-top.u-border-white.u-btn.u-button-link.u-button-style.u-hover-none.u-none.u-text-body-alt-color.u-btn-1(href = "https://www.freepik.com/photos/business", target = "_blank") Freepik
                      .u-social-icons.u-spacing-10.u-social-icons-1
                        %a.u-social-url(href = "https://facebook.com/name", target = "_blank", title = "facebook")
                          %span.u-icon.u-icon-circle.u-social-facebook.u-social-icon.u-text-white.u-icon-1
                            %img(src = "images/fb.png")/
                        %a.u-social-url(href = "https://twitter.com/name", target = "_blank", title = "twitter")
                          %span.u-icon.u-icon-circle.u-social-icon.u-social-twitter.u-text-white.u-icon-2
                            %img(src = "images/tw.png")/
                        %a.u-social-url(href = "https://www.instagram.com/name", target = "_blank", title = "instagram")
                          %span.u-icon.u-icon-circle.u-social-icon.u-social-instagram.u-text-white.u-icon-3
                            %img(src = "images/ig.png")/
              .u-size-30
                .u-layout-row
                  .u-align-center.u-container-align-center.u-container-style.u-layout-cell.u-palette-4-base.u-size-30.u-layout-cell-3
                    .u-container-layout.u-valign-middle.u-container-layout-3
                      %h3.u-text.u-text-default.u-text-5 Details
                      %h6.u-custom-font.u-font-open-sans.u-text.u-text-default.u-text-6 name
                      %p.u-custom-font.u-text.u-text-7 Fred Morrison
                      %h6.u-custom-font.u-font-open-sans.u-text.u-text-default.u-text-8 Role
                      %p.u-custom-font.u-text.u-text-9 Lead Designer
                      %h6.u-custom-font.u-font-open-sans.u-text.u-text-default.u-text-10 Email
                      %a.u-align-center.u-border-1.u-border-active-palette-2-base.u-border-hover-palette-2-base.u-border-no-left.u-border-no-right.u-border-no-top.u-btn.u-button-style.u-none.u-text-active-palette-2-base.u-text-body-alt-color.u-text-hover-palette-2-base.u-btn-2(href = "/c/sports-html-templates") designer@example.com
                      %h6.u-custom-font.u-font-open-sans.u-text.u-text-default.u-text-11 Phone
                      %a.u-align-center.u-border-1.u-border-active-palette-2-base.u-border-hover-palette-2-base.u-border-no-left.u-border-no-right.u-border-no-top.u-btn.u-button-style.u-none.u-text-active-palette-2-base.u-text-body-alt-color.u-text-hover-palette-2-base.u-btn-3(href = "tel:+987987654321") (+987) 987 654 321
                      %h6.u-custom-font.u-font-open-sans.u-text.u-text-default.u-text-12 Website
                      %a.u-align-center.u-border-1.u-border-active-palette-2-base.u-border-hover-palette-2-base.u-border-no-left.u-border-no-right.u-border-no-top.u-btn.u-button-style.u-none.u-text-active-palette-2-base.u-text-body-alt-color.u-text-hover-palette-2-base.u-btn-4(href = "/k/children-website-templates") www.somewebsite.com
                  .u-container-align-center-md.u-container-align-center-sm.u-container-align-center-xs.u-container-style.u-grey-5.u-layout-cell.u-size-30.u-layout-cell-4
                    .u-container-layout.u-valign-middle.u-container-layout-4
                      .u-expanded-width.u-list.u-list-1
                        .u-repeater.u-repeater-1
                          .u-container-align-center.u-container-style.u-list-item.u-repeater-item.u-shape-rectangle
                            .u-container-layout.u-similar-container.u-valign-middle-md.u-valign-middle-sm.u-valign-middle-xs.u-container-layout-5
                              %p.u-align-center.u-text.u-text-grey-50.u-text-13 awards
                              %h3.u-align-left.u-custom-font.u-font-montserrat.u-text.u-text-default.u-text-palette-4-base.u-text-14 17
                          .u-container-align-center.u-container-style.u-list-item.u-repeater-item.u-shape-rectangle
                            .u-container-layout.u-similar-container.u-valign-middle-md.u-valign-middle-sm.u-valign-middle-xs.u-container-layout-6
                              %p.u-align-center.u-text.u-text-grey-50.u-text-15 XP YEARS
                              %h3.u-align-left.u-custom-font.u-font-montserrat.u-text.u-text-default.u-text-palette-4-base.u-text-16 12+
                          .u-container-align-center.u-container-style.u-list-item.u-repeater-item.u-shape-rectangle
                            .u-container-layout.u-similar-container.u-valign-middle-md.u-valign-middle-sm.u-valign-middle-xs.u-container-layout-7
                              %p.u-align-center.u-text.u-text-grey-50.u-text-17 clients
                              %h3.u-align-left.u-custom-font.u-font-montserrat.u-text.u-text-default.u-text-palette-4-base.u-text-18 138
                          .u-container-style.u-list-item.u-repeater-item.u-shape-rectangle
                            .u-container-layout.u-similar-container.u-valign-middle-md.u-valign-middle-sm.u-valign-middle-xs.u-container-layout-8
                              %p.u-align-center.u-text.u-text-grey-50.u-text-19 projects
                              %h3.u-align-left.u-custom-font.u-font-montserrat.u-text.u-text-default.u-text-palette-4-base.u-text-20 350
    %footer#sec-1fad.u-align-center.u-clearfix.u-footer.u-grey-80.u-footer
      .u-clearfix.u-sheet.u-sheet-1
        %p.u-small-text.u-text.u-text-variant.u-text-1 Sample text. Click to select the Text Element.