.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1291px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 969px;
  margin: 60px auto;
}

.u-section-1 .u-image-1 {
  background-image: url("images/gffgfgfg.jpg");
  min-height: 598px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 598px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 78px 20px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 24px;
  min-height: 16px;
  width: 92px;
  min-width: 68px;
  margin: 39px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 598px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: Poppins;
  line-height: 1;
  width: 283px;
  margin: 12px auto 0;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-family: Poppins;
  line-height: 1;
  width: 283px;
  margin: 12px auto 0;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  align-self: center;
  margin: 12px auto 0;
  padding: 0;
}

.u-section-1 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  align-self: center;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 40px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 12px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 598px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 16px));
  min-height: 464px;
  grid-gap: 32px;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px;
}

.u-section-1 .u-text-13 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 28px 0 0;
}

.u-section-1 .u-text-14 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px;
}

.u-section-1 .u-text-15 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 28px 0 0;
}

.u-section-1 .u-text-16 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 20px;
}

.u-section-1 .u-text-17 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 28px 0 0;
}

.u-section-1 .u-text-18 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 20px;
}

.u-section-1 .u-text-19 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 28px 0 0;
}

.u-section-1 .u-text-20 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

.u-btn {
  /*display: inline-block;*/
  display: table;
  /*TODO maye need another solution for negative marin*/
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
  border: 0 none transparent;
  outline-width: 0;
  background-color: transparent;
  margin: 0;
  -webkit-text-decoration-skip: objects;
  font-style: initial;
  white-space: nowrap;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  text-align: center;
  padding: 10px 30px;
  border-radius: 0;
  --border-radius: 0;
  align-self: flex-start;
}

.u-button-style.u-border-no-right.u-border-no-left.u-border-no-bottom,
.u-button-style.u-border-no-top.u-border-no-left.u-border-no-bottom,
.u-button-style.u-border-no-top.u-border-no-right.u-border-no-bottom,
.u-button-style.u-border-no-top.u-border-no-right.u-border-no-left,
.u-btn-rectangle {
  border-radius: 0 !important;
}

.u-text a,
.u-post-content a,
.u-tab-item a,
.u-nav-item a {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.u-link,
a {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  height: auto;
  min-height: 100%;
}

body,
aside,
.u-sidebar-block,
section,
header,
footer {
  position: relative;
}

section>*,
header>*,
footer>*,
.u-sheet>*,
.u-section-row>* {
  position: relative;
}

a {
  color: #259bca;
  text-decoration: none;
}

.u-clearfix:after,
.u-clearfix:before {
  content: '';
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.u-button-style[class*="u-border-"].u-border-no-top,
[class*="u-border-"].u-border-no-top {
  border-top-width: 0;
  border-top-style: none;
}

.u-button-style[class*="u-border-"].u-border-no-right,
[class*="u-border-"].u-border-no-right {
  border-right-width: 0;
  border-right-style: none;
}

.u-button-style[class*="u-border-"].u-border-no-left,
[class*="u-border-"].u-border-no-left {
  border-left-width: 0;
  border-left-style: none;
}

.u-text-default {
  display: table;
  align-self: flex-start;
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
}

.u-image {
  object-fit: cover;
  display: block;
  vertical-align: middle;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

section.u-image:not(.u-hover-box),
.u-sheet.u-image:not(.u-hover-box),
.u-group.u-image:not(.u-hover-box),
.u-layout-cell.u-image:not(.u-hover-box) {
  overflow: visible;
}

.u-sheet {
  position: relative;
  margin: 0 auto;
}

.u-xl-mode .u-sheet {
  width: var(--theme-sheet-width-xl);
}

@media (min-width: 1400px) {
  .u-sheet {
    width: var(--theme-sheet-width-xxl) !important;
  }
}

@media (min-width: 1200px) {
  .u-xl-mode .u-sheet {
    width: var(--theme-sheet-width-xl) !important;
  }
}

.u-container-layout {
  position: relative;
  flex: 1;
  max-width: 100%;
  transition-duration: inherit;
}

.u-inner-container-layout,
.u-inner-container-layout>*,
.u-group-elements,
.u-group-elements>*,
.u-container-layout>* {
  position: relative;
}

.u-expanded-width {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.u-valign-middle,
.u-valign-top,
.u-valign-bottom {
  display: flex;
  flex-direction: column;
}

.u-valign-middle>*,
.u-valign-top>*,
.u-valign-bottom>* {
  flex-shrink: 0;
}

.u-valign-middle {
  justify-content: center;
}

.u-layout-row>.u-size-30 {
  flex: 0 0 50%;
  max-width: 50%;
  min-width: 50%;
}

.u-layout-col>.u-size-30 {
  flex: 30 0 auto;
}

.u-gutter-0 .u-layout {
  margin: 0px;
}

.u-gutter-0 .u-layout .u-layout-cell {
  border: 0px solid transparent;
}

.u-layout-col,
.u-layout-row,
.u-layout-col>*,
.u-layout-row>* {
  display: flex;
}

.u-layout-col,
.u-layout-row {
  flex: 1 1 auto;
}

.u-layout-row>* {
  max-height: 100%;
  min-height: -webkit-fit-content;
  min-height: fit-content;
}

.u-layout-col>* {
  min-height: -webkit-fit-content;
  min-height: fit-content;
  max-width: 100%;
}

.u-layout-col {
  flex-direction: column;
  min-height: -webkit-fit-content;
  min-height: fit-content;
}

.u-layout-row {
  flex-direction: row;
  flex-wrap: wrap;
  min-height: -webkit-fit-content;
  min-height: fit-content;
  max-width: 100%;
}

.u-layout-cell {
  position: relative;
  display: flex;
  background-clip: padding-box;
  background-origin: padding-box;
}

.u-sheet:not(.u-image):not(.u-video) {
  pointer-events: none;
}

.u-sheet:not(.u-image):not(.u-video)>* {
  pointer-events: auto;
  pointer-events: initial;
}

.u-icon {
  display: block;
  line-height: 0;
  border-width: 0px;
}

.u-svg-link {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.u-svg-content {
  width: 0;
  height: 0;
}

.u-icon-circle {
  border-radius: 50%;
}

html {
  font-size: 16px;
}

.u-body {
  font-size: 1rem;
  line-height: 1.6;
}

.u-body h1,
.u-body h2,
.u-body h3,
.u-body h4,
.u-body h5,
.u-body h6 {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: 500;
  color: inherit;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

p {
  margin-top: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}

.u-align-left {
  text-align: left;
}

.u-align-center {
  text-align: center;
}

.u-tabs:not([class*="u-align-"]),
.u-accordion:not([class*="u-align-"]),
.u-repeater-item:not([class*="u-align-"]),
.u-container-style:not([class*="u-align-"]) {
  text-align: left;
}

.u-text {
  word-wrap: break-word;
  position: relative;
}

.u-font-open-sans.u-custom-font {
  font-family: 'Open Sans', sans-serif !important;
}

.u-font-montserrat.u-custom-font {
  font-family: Montserrat, sans-serif !important;
}

.u-social-icons {
  display: flex;
}

.u-social-url {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
  border: 0 none transparent;
  outline-width: 0;
  background-color: transparent;
  margin: 0;
  -webkit-text-decoration-skip: objects;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.u-social-icons .u-icon {
  display: flex;
  height: 100% !important;
}

.u-social-icons .u-social-url,
.u-social-icons .u-social-url:hover {
  color: currentColor;
}

.u-social-icons a {
  height: 100%;
  display: inline-block;
  flex: 1;
}


.u-repeater {
  display: grid;
  grid-template-columns: repeat(3, 33.33333333%);
}

.u-repeater-item {
  display: flex;
  position: relative;
}

.u-list:not(.u-repeater),
.u-blog:not(.u-repeater),
.u-products:not(.u-repeater) {
  display: flex;
  flex-direction: column;
}

.u-list:not(.u-repeater) .u-repeater,
.u-blog:not(.u-repeater) .u-repeater,
.u-products:not(.u-repeater) .u-repeater {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.u-form-agree .u-btn,
.u-table-cell .u-btn,
.u-text .u-btn {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: baseline;
  white-space: normal;
  text-align: inherit;
}

.u-form-agree .u-btn.u-button-link,
.u-table-cell .u-btn.u-button-link,
.u-text .u-btn.u-button-link {
  display: inline;
}

.u-border-1,
.u-separator-1:after,
.u-text.u-border-1,
.u-input.u-border-1,
.u-field-input.u-field-input.u-border-1,
a.u-button-style.u-border-1 {
  border-width: 1px;
}

.u-body {
  font-family: var(--text-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

.u-overlap.u-overlap-transparent .u-header,
.u-image,
.u-gradient {
  color: var(--white-contrast);
}

.u-body {
  color: var(--bg-contrast);
  background-color: var(--bg-color);
  --effect-scale: 1.1;
}


.u-button-style.u-border-white {
  border-color: var(--white) !important;
  color: var(--white) !important;
  background-color: transparent !important;
}



/*begin-variables font-family*/
.u-body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
}

.u-overlap.u-overlap-transparent .u-header,
.u-image,
.u-gradient {
  color: #111111;
}

.u-body {
  color: #111111;
  background-color: #ffffff;
  --effect-scale: 1.1;
}

.u-none.u-input,
.u-none.u-field-input,
.u-none.u-button-style,
.u-none.u-button-style:hover,
.u-none.u-button-style:focus,
.u-none.u-button-style:active,
.u-none.u-button-style.active,
.u-button-style.u-hover-none:hover,
.u-button-style.u-hover-none:focus,
.u-button-style.u-active-none:active,
.u-button-style.u-active-none.active,
li.active>.u-button-style.u-active-none {
  color: inherit !important;
  background-color: transparent !important;
}

.u-palette-4-base,
.u-body.u-palette-4-base,
section.u-palette-4-base:before,
.u-palette-4-base>.u-container-layout:before,
.u-palette-4-base>.u-inner-container-layout:before,
.u-palette-4-base.u-sidenav:before,
.u-container-layout.u-container-layout.u-palette-4-base:before,
.u-table-alt-palette-4-base tr:nth-child(even) {
  color: #ffffff;
  background-color: #ff4e5a;
}

.u-white,
.u-body.u-white,
section.u-white:before,
.u-white>.u-container-layout:before,
.u-white>.u-inner-container-layout:before,
.u-white.u-sidenav:before,
.u-container-layout.u-container-layout.u-white:before,
.u-table-alt-white tr:nth-child(even) {
  color: #111111;
  background-color: #ffffff;
}

.u-grey-5,
.u-body.u-grey-5,
section.u-grey-5:before,
.u-grey-5>.u-container-layout:before,
.u-grey-5>.u-inner-container-layout:before,
.u-grey-5.u-sidenav:before,
.u-container-layout.u-container-layout.u-grey-5:before,
.u-table-alt-grey-5 tr:nth-child(even) {
  color: #111111;
  background-color: #f2f2f2;
}

.u-border-white,
.u-border-white.u-input,
.u-border-white.u-field-input.u-field-input,
.u-separator-white:after {
  border-color: #ffffff;
  stroke: #ffffff;
}

.u-button-style.u-border-white {
  border-color: #ffffff !important;
  color: #ffffff !important;
  background-color: transparent !important;
}

.u-button-style.u-border-white:hover,
.u-button-style.u-border-white:focus {
  border-color: transparent !important;
  color: #e6e6e6 !important;
  background-color: transparent !important;
}

.u-text-white,
.u-input.u-text-white,
.u-input.u-text-white[class*="u-border-"],
li.active>a.u-button-style.u-text-white,
li.active>a.u-button-style.u-text-white[class*="u-border-"],
a.u-button-style.u-text-white,
a.u-button-style.u-text-white[class*="u-border-"] {
  color: #ffffff !important;
}



a.u-button-style.u-text-body-alt-color:hover,
a.u-button-style.u-text-body-alt-color[class*="u-border-"]:hover,
a.u-button-style.u-text-body-alt-color:focus,
a.u-button-style.u-text-body-alt-color[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-text-body-alt-color:active,
a.u-button-style.u-button-style.u-text-body-alt-color[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-text-body-alt-color.active,
a.u-button-style.u-button-style.u-text-body-alt-color[class*="u-border-"].active {
  color: #e6e6e6 !important;
}

.u-text-grey-50,
.u-input.u-text-grey-50,
.u-input.u-text-grey-50[class*="u-border-"],
li.active>a.u-button-style.u-text-grey-50,
li.active>a.u-button-style.u-text-grey-50[class*="u-border-"],
a.u-button-style.u-text-grey-50,
a.u-button-style.u-text-grey-50[class*="u-border-"] {
  color: #808080 !important;
}

.u-body {
  --theme-sheet-width-xl: 1140px;
  --theme-sheet-width-lg: 940px;
  --theme-sheet-width-md: 720px;
  --theme-sheet-width-sm: 540px;
  --theme-sheet-width-xs: 340px;
}

h2:not(.u-subtitle) {
  font-size: 3.75rem;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  list-icon-spacing: 0.3;
  list-icon-size: 0.8;
}

h3 {
  font-size: 1.875rem;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

p.u-large-text {
  font-size: 1.25rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

p.u-small-text {
  font-size: 0.875rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

p:not(.u-text-variant) {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item)>a,
.u-gradient>.u-container-layout>a,
.u-image:not(.u-shading)>.u-container-layout>a,
a {
  color: #80b4ff;
}

.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item)>a:hover,
.u-gradient>.u-container-layout>a:hover,
.u-image:not(.u-shading)>.u-container-layout>a:hover,
a:hover {
  color: #5a9dff;
}

.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item)>.u-btn,
.u-gradient>.u-container-layout>.u-btn,
.u-image:not(.u-shading)>.u-container-layout>.u-btn,
.u-btn {
  background-color: #80b4ff;
  color: #ffffff;
}

.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item)>.u-btn:hover,
.u-gradient>.u-container-layout>.u-btn:hover,
.u-image:not(.u-shading)>.u-container-layout>.u-btn:hover,
.u-btn:hover {
  background-color: #5a9dff;
  color: #e6e6e6;
}



.u-footer {
  background-image: none;
}

.u-footer .u-sheet-1 {
  min-height: 120px;
}

.u-footer .u-text-1 {
  width: 417px;
  margin: 49px auto;
}


html {
  font-size: 16px;
}